{% extends "layout.html" %}
{% block content %}
    {% if user == current_user %}
      <h1 class="mb-3">Your posts</h1>
    {% else %}
      <h1 class="mb-3">Posts by {{ user.username }}</h1>
    {% endif %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.pub_date.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.body }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
